# =========================
# Visual Studio
# =========================
.vs/
*.vcxproj.user
*.suo
*.user
*.ipch

# Build folders
Debug/
Release/
x64/

# =========================
# Object & intermediate files
# =========================
*.obj
*.o
*.lo
*.ilk
*.pdb

# Precompiled headers
*.pch
*.gch

# =========================
# Libraries (do not track)
# =========================
*.lib
*.a
*.la
*.lai
*.so
*.dylib

# =========================
# Executables
# =========================
# Ignore executables everywhere EXCEPT bin/
*.exe
!bin/*.exe

# =========================
# Other
# =========================
*.dwo
